:root {
  font-family: serif;
  font-kerning: normal;
  font-size: 125%;
  font-variant-ligatures: common-ligatures;
  text-size-adjust: 100%;
}

body {
  background: #fff;
  line-height: 1.25;
  padding: .5rem 2rem;
}

code {
  font-family: monospace, serif;
}

button {
  font-size: inherit;
  border-radius: .25rem;
  padding: .5rem .75rem;
}

.no-js form {
  display: none;
}

dfn[title],
strong[title] {
  border-bottom: calc(1em / 16) dotted #666;
  cursor: help;
}

.hfj {
  font-family: 'Ideal Sans', Verlag, Archer, Acropolis, Ziggurat, Requiem, Sentinel, Saracen, Whitney, Gotham, Vitesse, 'Hoefler Text', Georgia, serif;
}

.serious {
  font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', 'Marker Felt', fantasy;
}

.really-serious {
  font-family: 'Mountains of Christmas', Papyrus, cursive;
  font-size: 2rem;
}

.version {
  position: absolute;
  top: -0.5em;
  left: 0;
  z-index: 0;
  border-bottom: calc(1em / 16) solid #b22;
  background: #ffe;
  color: #b00;
  font-family: sans-serif;
  font-size: .375rem;
  margin-left: -4em;
  padding: 2em 4em .75em;
  text-transform: uppercase;
  transform: rotate(-45deg);
}

.fork {
  font-size: .75rem;
  padding-top: 4em;
}

#assumption p:first-child,
.fork {
  font-style: italic;
}
